@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;300;500;700&display=swap');
// thin, light, medium, and bold imported text

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Serif', sans-serif;
}

#nav-bar {
    top: 0;
    width: 100%;
    height: 3.5em;
    position: fixed;
    text-align: end;
    overflow: hidden;
    line-height: 3.5em;
    z-index: 10;

    #header-img {
        height: 3.5em;
        float: left;
        margin-left: 5%;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1.3em;
        vertical-align: middle;
        display: inline-block;
        line-height: normal;
        padding: 0em 1.5em;
    }
}

.black-menu {
    background-color: #000;
    transition: 500ms;
}

.white-menu {
    background-color: #fff;
    transition: 500ms;
}

.white-text {
    color: #fff;
    transition: 500ms;
}

.black-text {
    color: #000;
    transition: 500ms;
}

#home,
#demo,
#products {
    height: 100vh;
}

#about {
    height: 120vh;
}

#home {
    background: url(https://images.unsplash.com/photo-1512733596533-7b00ccf8ebaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80);
    background-size: cover;

    #title {
        color: white;
        font-weight: 700;
        padding-top: 2em;
        text-align: center;
        vertical-align: middle;
        font-size: 3em;
    }

    .home-div {
        display: block;
        margin-left: 15%;
        width: 30em;
        height: 50%;
        line-height: 25em;
        margin-top: 3em;
        backdrop-filter: blur(5px) saturate(80%) brightness(90%);
        border-radius: 10px;

        .motto {
            color: #fff;
            margin-left: 10%;
            font-size: 2em;
            line-height: 1.5;
            display: inline-block;
            vertical-align: middle;
            font-weight: 300;

            .first-line {
                font-weight: 500;
            }
        }
    }
}

#about {
    background-color: #fff;

    .about-title {
        font-size: 2.3em;
        margin-top: 30%;
        margin-bottom: 4em;
        text-align: center;
        font-weight: 700;
    }

    .about-div {
        .description {
            margin-left: 10%;
            width: 30%;
            font-size: 1.5em;
            font-weight: 300;
            line-height: 1.5;
            transform: translateY(1em);
        }

        #chart-img {
            margin-right: 5%;
            width: 45%;
            float: right;
        }
    }
}

#demo {
    background-color: beige;
}

#products {
    background-color: lavenderblush;

    #flex-container {
        display: flex;
        justify-content: space-around;
    
        .flex-element {
            width: 300px;
            height: 200px;
            background-color: pink;
        }
    }
}

@media screen and (max-width: 500px) {
    #flex-container {
        flex-direction: column;
    }
}