@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto Serif', sans-serif;
}

#nav-bar {
  top: 0;
  width: 100%;
  height: 3.5em;
  position: fixed;
  text-align: end;
  overflow: hidden;
  line-height: 3.5em;
  z-index: 10;
  padding: 0 10em;
}

#nav-bar #header-img {
  height: 3.5em;
  float: left;
  display: block;
  padding-bottom: 0.75em;
}

#nav-bar .nav-link {
  text-decoration: none;
  font-size: 1.3em;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  padding: 0em 1.5em;
}

.black-menu {
  background-color: #000;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.white-menu {
  background-color: #fff;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.white-text {
  color: #fff;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.black-text {
  color: #000;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.hidden {
  opacity: 0;
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
  visibility: hidden;
  will-change: opacity, visibility;
}

.visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 300ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 300ms ease-out, transform 500ms ease-out;
  transition: opacity 300ms ease-out, transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.title-visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 300ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 300ms ease-out, transform 500ms ease-out;
  transition: opacity 300ms ease-out, transform 500ms ease-out, -webkit-transform 500ms ease-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.home-div-visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 300ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 300ms ease-out, transform 500ms ease-out;
  transition: opacity 300ms ease-out, transform 500ms ease-out, -webkit-transform 500ms ease-out;
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 0ms ease-out;
  transition: opacity 300ms ease-out, -webkit-transform 0ms ease-out;
  transition: opacity 300ms ease-out, transform 0ms ease-out;
  transition: opacity 300ms ease-out, transform 0ms ease-out, -webkit-transform 0ms ease-out;
  -webkit-transition-delay: 1500ms;
          transition-delay: 1500ms;
}

.description-visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 300ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 300ms ease-out, transform 500ms ease-out;
  transition: opacity 300ms ease-out, transform 500ms ease-out, -webkit-transform 500ms ease-out;
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

.chart-visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 300ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 300ms ease-out, transform 500ms ease-out;
  transition: opacity 300ms ease-out, transform 500ms ease-out, -webkit-transform 500ms ease-out;
  -webkit-transition: opacity 300ms ease-out, -webkit-transform 0ms ease-out;
  transition: opacity 300ms ease-out, -webkit-transform 0ms ease-out;
  transition: opacity 300ms ease-out, transform 0ms ease-out;
  transition: opacity 300ms ease-out, transform 0ms ease-out, -webkit-transform 0ms ease-out;
  -webkit-transition-delay: 1700ms;
          transition-delay: 1700ms;
}

#home,
#demo {
  height: 100vh;
}

#about {
  height: 120vh;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#products {
  height: 70vh;
}

#home {
  background: url(https://images.unsplash.com/photo-1512733596533-7b00ccf8ebaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80);
  background-size: cover;
}

#home #title {
  color: white;
  font-weight: 700;
  padding-top: 2em;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
}

#home .home-div {
  display: block;
  margin-left: 15%;
  width: 30em;
  height: 50%;
  line-height: 25em;
  margin-top: 3em;
  -webkit-backdrop-filter: blur(5px) saturate(80%) brightness(90%);
          backdrop-filter: blur(5px) saturate(80%) brightness(90%);
  border-radius: 10px;
}

#home .home-div .motto {
  color: #fff;
  margin-left: 10%;
  font-size: 2em;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
}

#home .home-div .motto .first-line {
  font-weight: 500;
}

#about {
  background-color: #fff;
}

#about .about-title {
  font-size: 2.3em;
  margin-top: 15%;
  padding-top: 10%;
  margin-bottom: 4em;
  text-align: center;
  font-weight: 700;
}

#about .about-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-div .description {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em;
}

#about .about-div #chart-img {
  width: 40em;
}

#demo {
  background: linear-gradient(180deg, #ffffff, #e0e0e0 10px, #000);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#demo .custom-shape-divider-top-1645127045 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#demo .custom-shape-divider-top-1645127045 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

#demo .custom-shape-divider-top-1645127045 .shape-fill {
  fill: #ffffff;
}

#demo #demo-title {
  margin: 2em 0;
  font-size: 2em;
  color: white;
}

#products {
  background-color: #fff;
  border: 20px solid black;
}

#products h2 {
  background-color: #000;
  color: #fff;
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

#products #form {
  height: 70%;
}

#products #products-section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#products #products-section .keyboard-option {
  position: relative;
  left: 0;
  width: 60%;
  height: 3em;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 3em;
  font-size: 1.5em;
  z-index: 10;
}

#products #products-section .keyboard-option::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform: translateY(calc(1.5em - 2px));
          transform: translateY(calc(1.5em - 2px));
  width: 97.5vw;
  height: 4px;
  background-color: #000;
  z-index: -1;
}

footer {
  background-color: #000;
  color: #fff;
  height: 30vh;
  font-size: 1em;
  text-align: center;
  padding-top: 3em;
}

footer a {
  color: #add8e6;
}

footer a:hover {
  color: #a5b5ce;
}

@media screen and (max-width: 835px) {
  .about-title {
    margin-bottom: 0;
  }
  .about-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-div #chart-img {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */